["/data/社会科学専門コーパス"

 "/data/STJC/nlp_annual_txt"               ;; 309.25 min
 "/data/STJC/JNLP-Journal"                 ;;  16.55 min
 "/data/STJC/JStage-土木学会論文集A"
 "/data/STJC/JStage-土木学会論文集B"
 "/data/STJC/JStage-土木学会論文集C"
 "/data/STJC/JStage-土木学会論文集D"
 "/data/STJC/JStage-日本医科大学医学会雑誌"
 "/data/STJC/JStage-電気学会論文誌"
 "/data/STJC/JStage-日本化学会誌"
 "/data/STJC/JStage-環境資源工学"

 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/OW"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/OL"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/OT"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/OP"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/PN"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/PM"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/OV"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/PB"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/LB"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/OB"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/OC"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/OY"
 "/data/BCCWJ-2012-dvd1/C-XML/VARIABLE/OM"]
