{:mvn/repos {"sonatype" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}}
 :paths     ["src" "data" "resources"]
 :aliases                                                   ;; FIXME split deps into server/web/etc with multiple mains.
            {:jvm     {:jvm-opts ["-Dmain=natsume-server.main"
                                  "-Dclojure.compiler.direct-linking=true"
                                  "-DTIMBRE_LEVEL=:fatal"
                                  ;; Netty Java >=9 support
                                  "--add-exports" "java.base/jdk.internal.misc=ALL-UNNAMED"
                                  #_"-Dio.netty.tryReflectionSetAccessible=true"]}
             :web     {;; TODO: Timbre library elision breaks compilation.
                       ;;:jvm-opts
                       ;;["-DTIMBRE_LEVEL=:warn"]
                       :extra-deps
                       {thheller/shadow-cljs        {:mvn/version "2.8.61"}
                        com.cognitect/transit-cljs  {:mvn/version "0.8.256"}
                        com.taoensso/tempura        {:mvn/version "1.3.0-alpha2"}
                        clj-commons/secretary       {:mvn/version "1.2.4"}
                        reagent                     {:mvn/version "0.8.1"}
                        re-frame                    {:mvn/version "0.10.9"}
                        re-frame-datatable          {:mvn/version "0.6.0"}
                        re-frisk                    {:mvn/version "0.5.4.1"}
                        ;; re-frisk dep override:
                        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
                        ;; day8.re-frame/tracing-stubs {:mvn/version "0.5.3"}
                        day8.re-frame/http-fx       {:mvn/version "0.1.6"}
                        day8.re-frame/async-flow-fx {:mvn/version "0.1.0"}
                        akiroz.re-frame/storage     {:mvn/version "0.1.4"}
                        re-learn                    {:mvn/version "0.1.2"}
                        rid3                        {:mvn/version "0.2.1-1"}}}
             :webdev  {:extra-deps
                       {;; devcards                        {:mvn/version "0.2.6"}
                        day8.re-frame/tracing           {:mvn/version "0.5.3"}
                        day8.re-frame/test              {:mvn/version "0.1.5"}
                        day8.re-frame/re-frame-10x      {:mvn/version "0.4.3"}
                        binaryage/devtools              {:mvn/version "0.9.10"}
                        binaryage/dirac                 {:mvn/version "1.4.3"}
                        org.clojure/tools.reader        {:mvn/version "1.3.2"}
                        org.clojure/tools.analyzer.jvm  {:mvn/version "0.7.2"}
                        org.clojure/tools.analyzer      {:mvn/version "0.7.0"}
                        org.clojure/data.priority-map   {:mvn/version "0.0.10"}
                        org.clojure/core.memoize        {:mvn/version "0.7.2"}
                        org.clojure/core.cache          {:mvn/version "0.8.1"}
                        org.clojure/core.async          {:mvn/version "0.4.500"}
                        com.google.code.findbugs/jsr305 {:mvn/version "3.0.2"}}}
             :extract {:main-opts ["-m" "natsume-server.main" "-e"]}
             :load    {:main-opts ["-m" "natsume-server.main" "-p" "load"]}
             :server  {:main-opts ["-m" "natsume-server.main" "-p" "server"]
                       :jvm-opts  ["-Xms4g" "-Xmx4g"]}
             :test    {:extra-paths ["test"]
                       :extra-deps  {lambdaisland/kaocha     {:mvn/version "0.0-554"}
                                     org.clojure/tools.nrepl {:mvn/version "0.2.13"}
                                     org.clojure/test.check  {:mvn/version "0.10.0"}
                                     ring/ring-mock          {:mvn/version "0.4.0"}
                                     restpect                {:mvn/version "0.2.1"}
                                     reloaded.repl           {:mvn/version "0.2.4"}}}
             :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.5"}}
                       :main-opts  ["-m" "uberdeps.uberjar"]}
             :depstar {:extra-deps  {seancorfield/depstar {:mvn/version "0.3.3"}}
                       :extra-paths ["resources"]
                       :main-opts   ["-m" "hf.depstar.uberjar" "natsume-uberjar.jar" "-m" "natsume-server.main"]}
             :runner  {:extra-deps {com.cognitect/test-runner
                                    {:git/url "https://github.com/cognitect-labs/test-runner"
                                     :sha     "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
                       :main-opts  ["-m" "cognitect.test-runner"
                                    "-d" "test"]}}
 :deps
            {org.clojure/clojure                    {:mvn/version "1.10.1"}

             ;; FIXME move to test alias, optional require behind test
             orchestra                              {:mvn/version "2019.02.17-SNAPSHOT"}

             ;;
             mount                                  {:mvn/version "0.1.16"}
             aero                                   {:mvn/version "1.1.3"}
             prismatic/schema                       {:mvn/version "1.1.12"}

             ;; Web
             ;; com.fasterxml.jackson.core/jackson-core {:mvn/version "2.9.9"}
             ;; cheshire                                {:mvn/version "5.9.0"}
             #_aleph                                   #_{:mvn/version #_"0.4.6" "0.4.7-alpha5"
                                                          :exclusions            [io.netty/netty-transport
                                                                                  io.netty/netty-transport-native-epoll
                                                                                  io.netty/netty-codec
                                                                                  io.netty/netty-codec-http
                                                                                  io.netty/netty-handler
                                                                                  io.netty/netty-handler-proxy
                                                                                  io.netty/netty-resolver
                                                                                  io.netty/netty-resolver-dns]}
             ;; io.netty/netty-all                      {:mvn/version "4.1.39.Final"} ; Override: 4.1.39.Final
             ;; yada                                    {:mvn/version "1.4.0-alpha1"}
             ;; com.taoensso/sente                      {:mvn/version "1.14.0-RC2"}
             com.cognitect/transit-clj              {:mvn/version "0.8.319"}
             ;; Temporarily until yada-sente integration fixed:
             ;; ring                                    {:mvn/version "1.7.1" :exclusions ;; [ring/ring-jetty-adapter ring/ring-servlet]}
             ring/ring-defaults                     {:mvn/version "0.3.2"}
             ring/ring-jetty-adapter                {:mvn/version "1.7.1"}
             ;; ring-cors                               {:mvn/version "0.1.13"}
             ;; ring/ring-json                          {:mvn/version "0.5.0-beta1"}
             ;; ring-logger-timbre                      {:mvn/version "0.7.6"}
             ring/ring-anti-forgery                 {:mvn/version "1.3.0"}
             ring-webjars                           {:mvn/version "0.2.0"}
             metosin/muuntaja                       {:mvn/version "0.6.5"}
             hiccup                                 {:mvn/version "1.0.5"}
             ;; bidi                                    {:mvn/version "2.1.6"}
             compojure                              {:mvn/version "1.6.1"}
             ;; metosin/reitit                          {:mvn/version "0.3.9"}
             ;; metosin/ring-http-response              {:mvn/version "0.9.1"}
             ;; buddy/buddy-sign                        {:mvn/version "3.1.0"}
             ;; buddy/buddy-auth                        {:mvn/version "2.2.0" :exclusions [org.clojure/clojurescript]}
             org.webjars.npm/bulma                  {:mvn/version "0.7.5"}
             org.webjars/font-awesome               {:mvn/version "5.11.2"}
             org.webjars.npm/balloon-css            {:mvn/version "0.5.0"}

             ;; Java >= 11 workaround
             com.sun.xml.bind/jaxb-impl             {:mvn/version "2.4.0-b180830.0438"}
             com.sun.xml.bind/jaxb-core             {:mvn/version "2.3.0.1"}
             org.glassfish.jaxb/jaxb-runtime        {:mvn/version "2.4.0-b180830.0438"}

             ;; Database
             org.postgresql/postgresql              {:mvn/version "42.2.8"}
             org.clojure/java.jdbc                  {:mvn/version "0.7.10"}
             seancorfield/next.jdbc                 {:mvn/version "1.0.8"}
             metosin/porsas                         {:mvn/version "0.0.1-alpha5"}
             java-jdbc/dsl                          {:mvn/version "0.1.3"}
             com.alibaba/druid                      {:mvn/version "1.1.20"}
             honeysql                               {:mvn/version "0.9.8"}
             com.layerware/hugsql                   {:mvn/version "0.5.1"}
             hugsql-next-jdbc                       {:mvn/version "0.1.3"}

             ;; Utils
             org.tukaani/xz                         {:mvn/version "1.8"}
             org.apache.commons/commons-compress    {:mvn/version "1.19"}
             org.clojure/tools.reader               {:mvn/version "1.3.2"}
             com.taoensso/timbre                    {:mvn/version "4.10.0"}
             timbre-ns-pattern-level                {:mvn/version "0.1.2"}
             com.fzakaria/slf4j-timbre              {:mvn/version "0.3.14"}
             org.slf4j/slf4j-api                    {:mvn/version "1.7.28"}
             com.taoensso/encore                    {:mvn/version "2.116.0"}
             robert/hooke                           {:mvn/version "1.3.0"}
             org.clojure/tools.namespace            {:mvn/version "0.3.1"} ;; FIXME test only?
             org.clojure/tools.cli                  {:mvn/version "0.4.2"}
             funcool/datoteka                       {:mvn/version "1.1.0"
                                                     :exclusions  [org.clojure/clojurescript]}
             iota                                   {:mvn/version "1.1.3"}
             org.clojure/data.csv                   {:mvn/version "0.1.4"}
             dk.ative/docjure                       {:mvn/version "1.13.0" :exclusions [commons-codec]}
             fast-zip                               {:mvn/version "0.6.1" :exclusions [com.cemerick/austin]} ; Override 0.6.1
             org.apache.commons/commons-math3       {:mvn/version "3.6.1"}
             camel-snake-kebab                      {:mvn/version "0.4.0" :exclusions [org.clojure/clojure]}
             org.clojure/core.cache                 {:mvn/version "0.8.2"}
             ;;

             ;; Stats/models/ML
             bigml/sampling                         {:mvn/version "3.2"}
             prismatic/plumbing                     {:mvn/version "0.5.5" :exclusions [fs potemkin prismatic/schema]}
             cc.qbits/knit                          {:mvn/version "1.0.0"}
             org.clojure/core.incubator             {:mvn/version "0.1.4"}
             org.clojure/core.match                 {:mvn/version "0.3.0" :exclusions [org.clojure/tools.analyzer.jvm org.clojure/tools.analyzer org.clojure/core.memoize]}

             ;; dep overrides
             joda-time                              {:mvn/version "2.10.4"}
             com.google.code.findbugs/jsr305        {:mvn/version "3.0.2"}
             commons-io                             {:mvn/version "2.6"}
             commons-logging                        {:mvn/version "1.2"}
             ;; dl4j overrides
             com.google.guava/guava                 {:mvn/version "25.0-jre"}
             org.projectlombok/lombok               {:mvn/version "1.18.10"}

             ;; Replace with org.apache.mxnet.contrib.clojure/clojure-mxnet "1.5.0-SNAPSHOT"
             org.nd4j/jackson                       {:mvn/version "1.0.0-beta"}
             org.nd4j/nd4j-common                   {:mvn/version "1.0.0-beta5"}
             org.nd4j/nd4j-native                   {:mvn/version "1.0.0-beta5"}
             org.deeplearning4j/deeplearning4j-core {:mvn/version "1.0.0-beta5"
                                                     :exclusions  [org.datavec/datavec-data-image]}
             org.deeplearning4j/deeplearning4j-nlp  {:mvn/version "1.0.0-beta5"}
             ;; Other NLP libs
             ;;
             com.github.vinhkhuc/jfasttext          {:mvn/version "0.4"}
             #_{:git/url "https://github.com/carschno/JFastText.git"
                :sha     "1efff12b97240ca63588eca186b7ce9ffb4dbaf7"}
             marcliberatore.mallet-lda              {:mvn/version "0.1.1"}
             cc.mallet/mallet                       {:mvn/version "2.0.8"}
             #_{:git/url "https://github.com/mimno/Mallet.git"
                :sha     "032184d5e35ba5bf0d099e9ecb985d4984df1592"}
             ;;

             ;; Text processing
             corpus-utils                           {:mvn/version "0.3.1"}
             borh/clj-ginza                         {:mvn/version "0.0.1"}
             org.chasen/cabocha                     {:mvn/version "0.69"}
             clj-mecab                              {:mvn/version "0.4.24"}
             com.ibm.icu/icu4j                      {:mvn/version "65.1"}
             d3-compat-tree                         {:mvn/version "0.0.11"}}}
