# Example systemd service file for natsume-server
# uses a parameter
# 'systemctl start natsume-server@prod' will start natsume-server with the profile set to 'prod'

# Dependencies:
# Install boot into /usr/local/bin/boot or under $HOME/local/bin/boot
# Place this file under /etc/systemd/system on Arch Linux (and other systems that use systemd)
# Ensure service survives reboot with 'systemctl enable natsume-server@server'

[Unit]
Description=natsume-server
After=network-online.target postgresql.service

[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="PORT=%i"
Environment="DB_NAME=natsumedev"
ExecStart=/usr/bin/env java -cp natsume-uberjar.jar clojure.main -m natsume-server.main --no-dev
Restart=always
User=bor
WorkingDirectory=/home/bor
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
